@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "Menu.scss";
@import "Media.scss";

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fefefa;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #242424;
}

body::-webkit-scrollbar-thumb {
  background: #ffd341;
}

.header-container {
  display: flex;
  flex-direction: row;
  z-index: 100;
  position: absolute;
  justify-content: space-between;
  width: 100vw;
  .head-logo,.menu-button{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 2.3rem;
    margin-top: 1.3rem;
  }
  .head-logo {
    order: 1;
    color: #151515;
    font-size: 40px;
    font-weight: 600;
    font-family: "Montserrat";
  }
  .menu-button {
    order: 2;
    background: #151515;
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 2rem;
    margin-right: 3rem;
  }
}

.home {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  a {
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 40px;
    color: black;
    font-weight: 600;
  }
  .home-media-container {
    display: flex;
    order: 1;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
  }
  .home-design-container {
    display: flex;
    order: 2;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
  }
}

@media (max-width: 870px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    .home-media-container,
    .home-design-container {
      width: 100vw;
      font-size: 50px;
      background-size: cover;
      object-fit: cover;
    }
  }
  .header-container {
    .head-logo {
      font-size: 19px;
      margin-left: 1.3rem;
      margin-top: 1.3rem;
    }
    .menu-button {
      width: 20px;
      height: 20px;
      margin-top: 1.3rem;
      margin-right: 1.3rem;
    }
  }
}
