@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "Menu.scss";

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fefefa;
  overflow: hidden;
}

//SCROLLBAR
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #242424;
}
body::-webkit-scrollbar-thumb {
  background: #ffd341;
}

//HEADER
.header-container {
  margin:0;
  display: flex;
  flex-direction: row;
  z-index: 100;
  position: absolute;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  .media-logo{
    margin-left:17rem;
  }
  .design-logo{
    margin-right:17rem;
  }
}
.menu-button {
  z-index: 100;
  position: absolute;
  cursor: pointer;
  margin-top:3.5px;
  top:0;
  right:0;
  width: 5.3rem;
  height: 5rem;
  transition: 0.2s ease-in-out;
}
.menu-button:hover {
  transition: 0.2s ease-in-out;
}

//HOME PAGE
.home {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  a {
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 40px;
    color: black;
    font-weight: 600;
  }
  .home-media-container {
    display: flex;
    order: 1;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
  }
  .home-design-container {
    display: flex;
    order: 2;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
  }
}

//CONTAINER 4 BOTH MEDIA+DESIGN PAGES
.mad-container {
  position: fixed;
  height: 100%;
  width: 100%;
  cursor: default;
  top: 10rem;
}

@media (max-width: 870px) {
  //homepage
  .home {
    display: flex;
    flex-wrap: wrap;
    .home-media-container,
    .home-design-container {
      width: 100vw;
      font-size: 50px;
      background-size: cover;
      object-fit: cover;
    }
  }
  //header
  .header-container {
    .logo-container {

      .head-logo {
      }
      .media-logo,
      .design-logo {
      }
    }
    .menu-button {
      width: 20px;
      height: 20px;
      margin-top: 1.3rem;
      margin-right: 1.3rem;
    }
  }
}
